importFrom(xtable, xtable)
importFrom(Hmisc, label, spss.get, rcorr.cens, mtitle, sys)
importFrom(gdata, trim, remove.vars, rename.vars)
importFrom(survival, Surv, survfit, survdiff, coxph)
importFrom(epitools, oddsratio)
importFrom(tools, texi2pdf)
importFrom(HardyWeinberg, HWChisqMat)
importFrom(rmarkdown, render, word_document)
importFrom(knitr, kable)
importFrom(grDevices, bmp, dev.new, dev.off, grey.colors, jpeg, pdf, png, rainbow, tiff)
importFrom(graphics, abline, barplot, box, boxplot, hist, legend, lines, mtext, par, plot, points, text, title)
importFrom(stats, TukeyHSD, anova, aov, as.formula, chisq.test, coef, confint, confint.default, cor, cor.test, dnorm, fisher.test, formula, glm, kruskal.test, lm, median, na.pass, p.adjust, pchisq, qqline, quantile, sd, shapiro.test, t.test, update)
importFrom(utils, combn, read.csv, read.csv2, read.table, sessionInfo, write.table)
import(SNPassoc)


export(
compareGroups,
compareGroups.default,
compareGroups.formula,
summary.compareGroups,
print.summary.compareGroups,
varinfo,
varinfo.compareGroups,
createTable,
print.createTable,
summary.createTable,
print.summary.createTable,
export2latex,
export2latex.createTable,
export2latex.cbind.createTable,
export2csv,
export2html,
export2pdf,
export2md,
export2word,
export2xls,
cGroupsGUI,
cGroupsWUI,
report,
radiograph,
compareSNPs,
print.compareSNPs,
missingTable,
printTable,
getResults
)


S3method("[",compareGroups) 
S3method("[",createTable)
S3method("[",rbind.compareGroups)
S3method("[",rbind.createTable)
S3method("[",cbind.createTable)
S3method(compareGroups,default)      
S3method(compareGroups,formula)      
S3method(print,compareGroups) 
S3method(plot,compareGroups)            
S3method(plot,createTable)            
S3method(print,createTable)          
S3method(print,summary.compareGroups)
S3method(print,summary.createTable)
S3method(print,cbind.createTable)
S3method(print,compareSNPs)
S3method(rbind,compareGroups)
S3method(rbind,createTable)
S3method(cbind,createTable)  
S3method(summary,compareGroups)  
S3method(summary,createTable)  
S3method(update,compareGroups)    
S3method(varinfo,compareGroups)  
S3method(varinfo,createTable)  
S3method(export2latex,createTable) 
S3method(export2latex,cbind.createTable)



# not exported:
  # chisq.test2                
  # combn2                     
  # compare.i                  
  # descrip                    
  # flip                       
  # format2                    
  # signifdec.i                
  # signifdec                  
  # summ.i                     
  # table.i 
  # norm.plot
  # Others ...