importFrom(chron, chron)
importFrom(survival, Surv, survfit, survdiff, coxph)
importFrom(epitools, oddsratio, riskratio)
importFrom(tools, texi2pdf)
importFrom(HardyWeinberg, HWChisqMat)
importFrom(rmarkdown, render, word_document)
importFrom(knitr, kable)
importFrom(grDevices, bmp, dev.new, dev.off, grey.colors, jpeg, pdf, png, rainbow, tiff)
importFrom(graphics, abline, barplot, box, boxplot, hist, legend, lines, mtext, par, plot, points, text, title)
importFrom(stats, oneway.test, TukeyHSD, anova, aov, as.formula, chisq.test, coef, confint, confint.default, 
           cor, cor.test, dnorm, fisher.test, formula, glm, kruskal.test, lm, median, na.pass, p.adjust, 
           pchisq, qqline, quantile, sd, shapiro.test, t.test, update, binom.test, qbinom, qt, binomial)
importFrom(utils, combn, read.csv, read.csv2, read.table, sessionInfo, write.table)
importFrom(methods, formalArgs)
importFrom(writexl, write_xlsx)
importFrom(officer, fp_border)
import(SNPassoc)
#import(kableExtra, except=c(footnote,as_image))
#import(flextable, except=c(footnote,as_image))
importFrom(flextable, add_footer,add_footer_lines,add_footer_row,add_header,add_header_lines,add_header_row,align,
           align_nottext_col,align_text_col,as_b,as_bracket,as_chunk,as_flextable,as_grouped_data,as_i,as_paragraph,
           as_raster,as_sub,as_sup,autofit,bg,body_add_flextable,body_replace_flextable_at_bkm,bold,border,
           border_inner,border_inner_h,border_inner_v,border_outer,border_remove,colformat_char,colformat_int,
           colformat_lgl,colformat_num,color,compose,delete_part,dim_pretty,display,docx_value,empty_blanks,
           fit_to_width,fix_border_issues,flextable,flextable_dim,font,fontsize,footers_flextable_at_bkm,
           headers_flextable_at_bkm,height,height_all,hline,hline_bottom,hline_top,htmltools_value,hyperlink_text,
           italic,linerange,merge_at,merge_h,merge_h_range,merge_none,merge_v,minibar,mk_par,padding,ph_with_flextable,
           ph_with_flextable_at,proc_freq,qflextable,regulartable,rotate,save_as_html,save_as_image,set_caption,
           set_footer_df,set_formatter,set_formatter_type,set_header_df,set_header_labels,style,theme_alafoli,
           theme_booktabs,theme_box,theme_tron,theme_tron_legacy,theme_vader,theme_vanilla,theme_zebra,valign,vline,
           vline_left,vline_right,void,width,xtable_to_flextable)
#%>%,
importFrom(kableExtra, add_footnote,add_header_above,add_indent,auto_index,cell_spec,collapse_rows,column_spec,
           footnote_marker_alphabet,footnote_marker_number,footnote_marker_symbol,group_rows,html_dependency_bsTable,
           html_dependency_kePrint,kable,kable_as_image,kable_as_xml,kable_styling,kableExtra_latex_packages,landscape,
           linebreak,magic_mirror,pack_rows,rmd_format,row_spec,save_kable,scroll_box,spec_angle,spec_color,
           spec_font_size,spec_popover,spec_tooltip,text_spec,usepackage_latex,xml_as_kable,xtable2kable)


export(
compareGroups,
summary.compareGroups,
print.summary.compareGroups,
varinfo,
varinfo.compareGroups,
createTable,
descrTable,
strataTable,
print.createTable,
summary.createTable,
print.summary.createTable,
export2latex,
export2latex.createTable,
export2latex.cbind.createTable,
export2csv,
export2html,
export2pdf,
export2md,
export2word,
export2xls,
cGroupsGUI,
cGroupsWUI,
report,
radiograph,
compareSNPs,
print.compareSNPs,
missingTable,
printTable,
getResults
)


S3method("[",compareGroups)
S3method("[",createTable)
S3method("[",rbind.compareGroups)
S3method("[",rbind.createTable)
S3method("[",cbind.createTable)
S3method(print,compareGroups) 
S3method(plot,compareGroups)            
S3method(plot,createTable)            
S3method(print,createTable)          
S3method(print,summary.compareGroups)
S3method(print,summary.createTable)
S3method(print,cbind.createTable)
S3method(print,compareSNPs)
S3method(rbind,compareGroups)
S3method(rbind,createTable)
S3method(cbind,createTable)  
S3method(summary,compareGroups)  
S3method(summary,createTable)  
S3method(update,compareGroups)  
S3method(update,descrTable)  
S3method(varinfo,compareGroups)  
S3method(varinfo,createTable)  
S3method(export2latex,createTable) 
S3method(export2latex,cbind.createTable)



# not exported:
  # chisq.test2                
  # combn2                     
  # compare.i                  
  # descrip                    
  # flip                       
  # format2                    
  # signifdec.i                
  # signifdec                  
  # summ.i                     
  # table.i 
  # norm.plot
  # Others ...